<div *ngIf="user.uid | async as uid; else login">
  <div class="row">
    <div class="overlay"></div>
  </div>
  <app-navbar></app-navbar>
  <div class="row" style="height: 300px">
    <div class="col-sm-12 align-middle">
      <h1 class="header-description">Dedicated to crafting soaps so that homes can be cozy and skin can be soft and clean.</h1>
    </div>
    <div class="col-sm-12" style="margin-top: auto">
      <div class="header">
        <hr>
        <h1 class="header-title">{{labelConstants.THREE_SWEET_GIRLS_IMAGE_HEADER}}</h1>
        <h2 class="header-description">{{labelConstants.THREE_SWEET_GIRLS_IMAGE_HEADER_DESCRIPTION}}</h2>
        <hr>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<ng-template #login>
  You have to login: <button (click)="user.login()">Login</button>
</ng-template>

