app-file-upload .dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 200;
  height: 300px;
  border: 2px dashed #6c757d;
  border-radius: 5px;
  background: white;
  margin: 10px 0px 10px 20px;
  padding: 5px;
}
app-file-upload .dropzone.hovering {
  border: 2px solid #6c757d;
  color: #EFEFEF;
}
app-file-upload .dropzone .file-label {
  font-size: 1.2em;
}
app-file-upload progress::-webkit-progress-value {
  transition: width 0.1s ease;
  margin: 10px 0px 10px 20px;
}
app-file-upload img {
  width: 250px;
}
