app-root .overlay {
  position: fixed;
  background: url(../../images/HomePage1.jpg) no-repeat;
  opacity: 0.6;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
app-root ::-webkit-scrollbar {
  display: none;
}
@-webkit-keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}
@-moz-keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}
@-o-keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}
@-ms-keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}
@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}
app-root img {
  display: block;
  max-width: 100%;
  height: auto;
}
